body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f9fa;
}

footer p {
    margin: 0;
}

main {
    margin-top: 50px;
}

#contatoBtn, #voltarBtn {
    margin-top: 20px;
}

@media (max-width: 768px) {
    main {
        margin-top: 20px;
    }
}
